@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}


@media (min-width: 1024px) {

    body {
        width: 100vw;
        overflow: hidden;
        background-color: #05072F;
    }

    /* HEADER */
    
    header {
        display: flex;
        height: 50px;
        background-color: #05072F;
        color: white;
        flex-direction: row;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    header > h1 {
        padding: 10px;
    }
    
    nav {
        align-items: center;
        width: 60vw;
        padding: 10px;
        text-align: center;
    }
    
    nav > a{
        text-decoration: none;
        color: white;
        padding: 10px;
    }
    
    div {
        display: flex;
        width: 100px;
        padding: 10px;
    }
    
    div > a {
        color: white;
        text-decoration: none;
        padding-left:10px;
        padding-right: 10px;
    }
    
    .create {
        margin-right: 20px;
        margin-left: 50px;
        color: #cf092d;
        text-decoration: none;
    }
    
    .redtxt {
        color: #cf092d;
        text-decoration: none;
    }
    
    /* MAIN */
    
    main {
        background-color: #01041b;
        color: white;
        display: flex;
    }
    
    
    .sct1 {
        margin: 40px;
        flex: 50%;
    }
    
    .sct2 {
        flex: 40%;
        justify-content: right;
        height: 569px;
    }
    
    .sct1 > p{
        margin: 40px;
        font-size: 15pt;
        width: 500px;
    }
    
    .title {
        font-size: 65pt;
        margin-left: 30px;
        width: 420px;
    }
    
    .img {
        height: 100%;
        width: 100%;
        margin-right: 0px;
    }
    
    .download {
        background-color: #cf092d;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 25px;
        margin-left: 30px;
    }
    
    .trial {
        background-color: #410093;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 25px;
        margin-left: 30px;
    
    }
    /* FOOTER */
    
    footer {
        background-color: #05072F;
        text-align: center;
        padding: 19px;
    }
    
    footer > p {
        color: white;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 100vw;
        overflow: hidden;
    }

    /* HEADER */
    
    header {
        display: flex;
        height: 50px;
        background-color: #05072F;
        color: white;
        flex-direction: row;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    header > h1 {
        padding: 10px;
        font-size: 15pt;
    }
    
    nav {
        align-items: center;
        width: 60vw;
        padding: 10px;
        text-align: center;
    }
    
    nav > a{
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 8pt;
    }
    
    div {
        display: flex;
        width: 100px;
        padding: 10px;
        font-size: 8pt;
    }
    
    div > a {
        color: white;
        text-decoration: none;
        padding-left:10px;
        padding-right: 10px;
    }
    
    .create {
        margin-right: 20px;
        margin-left: 50px;
        color: #cf092d;
        text-decoration: none;
        font-size: 8pt;
    }
    
    .redtxt {
        color: #cf092d;
        text-decoration: none;
    }
    
    /* MAIN */
    
    main {
        background-color: #01041b;
        color: white;
        display: flex;
        flex-direction: column;
    }
    
    
    .sct1 {
        flex: 50%;
        padding: 30px;
        text-align: center;
    }
    
    .sct2 {
        flex: 50%;
        justify-content: right;
        height: 569px;

    }
    
    .sct1 > p{
        margin: auto;
        padding-bottom: 30px;
        font-size: 15pt;
        width: 500px;
    }
    
    .title {
        font-size: 55pt;
        margin-left: 30px;
        padding-bottom: 30px;
    }
    
    .img {
        height: 100%;
        width: 100%;
    }
    
    .download {
        background-color: #cf092d;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 16px;
        margin-left: 30px;
    }
    
    .trial {
        background-color: #410093;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 25px;
        margin-left: 30px;
    
    }
    /* FOOTER */
    
    footer {
        background-color: #05072F;
        text-align: center;
        padding: 19px;
    }
    
    footer > p {
        color: white;
    }
}

@media (max-width: 767px) {
    body {
        width: 100vw;
        overflow: hidden;
    }

    /* HEADER */
    
    header {
        display: flex;
        height: 50px;
        background-color: #05072F;
        color: white;
        flex-direction: row;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    header > h1 {
        padding: 10px;
        font-size: 15pt;
    }
    
    nav {
        align-items: center;
        width: 60vw;
        padding: 10px;
        text-align: center;
        display: none;
    }
    
    nav > a{
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 8pt;
    }
    
    div {
        display: flex;
        width: 100px;
        padding: 10px;
        font-size: 8pt;
        display: none;
    }
    
    div > a {
        color: white;
        text-decoration: none;
        padding-left:10px;
        padding-right: 10px;
    }
    
    .create {
        margin-right: 20px;
        margin-left: 50px;
        color: #cf092d;
        text-decoration: none;
        font-size: 8pt;
    }
    
    .redtxt {
        color: #cf092d;
        text-decoration: none;
    }
    
    /* MAIN */
    
    main {
        background-color: #01041b;
        color: white;
        display: flex;
        flex-direction: column;
    }
    
    
    .sct1 {
        flex: 50%;
        padding: 10px;
    }
    
    .sct2 {
        flex: 50%;
        justify-content: right;
        height: 569px;

    }
    
    .sct1 > p{
        margin: 20px;
        padding-bottom: 10px;
        font-size: 8pt;
        width: 300px;
    }
    
    .title {
        font-size: 25pt;
        margin-left: 30px;
        width: 420px;
    }
    
    .img {
        height: 100%;
        width: 100%;
    }
    
    .download {
        background-color: #cf092d;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 15px;
        margin-left: 30px;
    }
    
    .trial {
        background-color: #410093;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 15px;
        margin-left: 30px;
    
    }
    /* FOOTER */
    
    footer {
        background-color: #05072F;
        text-align: center;
        padding: 30px;
        width: 90vw;
    }
    
    footer > p {
        color: white;
    }
}
